# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Logs
*.log

# Build output
/dist
/build
/.next
/.nuxt
/.parcel
/.vscode

# Operating System files
.DS_Store
Thumbs.db

# IDE/Editor files
.vscode/
.idea/

# Environment variables
.env
.env.*
